name: Test Setup Codee action

on:
  push:
    tags-ignore:
      - v**
  pull_request:
    branches:
      - master
  schedule:
    - cron: '0 0 * * 0'

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, ubuntu-24.04-arm]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run Setup Codee action
        uses: ./

      - name: List of Codee files
        shell: bash
        run: |
          echo "Contents of /tmp/codee/:"
          ls -la /tmp/codee/

      - name: Check Codee binary
        shell: bash
        run: codee --help
